#### Importando las librerias para el analisis exploratori de datos

In [4]:

import pandas as pd
import matplotlib.pyplot as plt

#### cargando la data df_actualizado_movie

In [16]:
df_general= pd.read_csv("../trabajo_venv/Data_set/movies_dataset2023_para_EDA.csv",sep=",")
df_general.head(2)

,budget,id,original_language,overview,popularity,revenue,runtime,status,tagline,title,vote_average,release_year,mes,dia,return,franquicia,genres,production_companies,production_countries
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,Released,NaN,Toy Story,7.7,1995.0,octubre,martes,12.45,Toy Story Collection,"Animation,Comedy,Family",Pixar Animation Studios,United States of America
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,diciembre,lunes,4.04,NaN,"Adventure,Fantasy,Family",TriStar Pictures,United States of America

#### Contando datos faltantes en cada columna del dataset
- La salida es un valor de verdad que indica si el valor que se le pasa como par치metro es o no un dato faltante.
- **True** significa que ese valor es faltante o no estpa presente y el valor **False** significa que ese valor est치 presente es decir que no falta datos esta completo.

In [ ]:
for columna in df_general.isnull().columns.values.tolist():
    print('columna:',columna)
    print (df_general.isnull()[columna].value_counts())
    print("")

Basado en el resumen anterior, cada columna tiene  45363 filas de datos y 6 columnas tienen datos faltantes.
1. "production_companies(compa침ia productora)" tiene  12341 datos faltantes
2. "genres(genero)" tiene  2476 datos faltantes
3. "franquicia" tiene  3157 datos faltantes
4. "return(retorno de inversi칩n)" tiene 34454 datos faltantes
5. "tagline(frace de pelicula)" tiene  24969 datos faltantes
6. "status(estado de la pelicula)" tiene 80 datos faltantes
7. "runtime(duracion de pelicula en segundos) tiene 246 datos faltante
7. "overview(resumen de la pelicula) tiene 941 datos faltante
7. "original_language(idioma original) tiene 11 datos faltante

In [17]:
df_general.dtypes

budget                  float64
id                        int64
original_language        object
overview                 object
popularity              float64
revenue                 float64
runtime                 float64
status                   object
tagline                  object
title                    object
vote_average            float64
release_year            float64
mes                      object
dia                      object
return                  float64
franquicia               object
genres                   object
production_companies     object
production_countries     object
dtype: object

##### cambiando el tido de datos de la columna ***release_year*** float64 a int

In [18]:
df_general.dropna(subset=["release_year"],inplace=True)

In [19]:
df_general['release_year'] = df_general['release_year'].apply(int)

##### en la columna production_companies tienen algunos datos que terminan en puntos

In [27]:
df_general["production_companies"].unique()

array(['Pixar Animation Studios', 'TriStar Pictures', 'Warner Bros.', ...,
       'Neptune Salad Entertainment', 'Sine Olivia', 'Yermoliev'],
      dtype=object)

In [39]:
df_general["production_companies"]=df_general["production_companies"].str.strip()

In [40]:
df_general["production_companies"]=df_general["production_companies"].str.replace(".","")
df_general["production_companies"]=df_general["production_companies"].str.replace("+","")
df_general["production_companies"]=df_general["production_companies"].str.replace("(MGM)","") 
df_general["production_companies"]=df_general["production_companies"].str.replace("(TMN)","")
df_general["production_companies"]=df_general["production_companies"].str.replace("(ZDF)","")

In [64]:
df_general["title"].duplicated().value_counts()

title
False    42196
True      3167
Name: count, dtype: int64

In [ ]:
df_general["franquicia"].value_counts().plot.barh()
#plt.show()

##### resultado final del dataset

In [42]:
df_general.to_csv('../trabajo_venv/Data_set/df_movies_dataset_actualizado_final.csv', index = False)